.column {
    float: left;
    width: 25%;
    padding: 10px 10px;    
}

.card-image {
    width: 100%;    
}

.card-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;    
}

.btn {    
    height: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: #f6f2ef;   
}
 
@media screen and (max-width: 600px) {
    .column {
      width: 90%;
      display: block;
      margin-bottom: 20px;
    }
}