.container {
    display: grid; 
    height: 100%;   
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 65px auto 65px;    
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";        
}

@media only screen and (max-width:600px) {
    .container {    
        display: grid; 
        height: 100%; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 65px auto 65px; 
        grid-template-areas: 
        "hd hd hd"
        "sd main main"        
        "ft ft ft";          
    }
}

@media only screen and (max-width:420px) {
    .container {    
        display: grid; 
        height: 100%; 
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: 65px auto 65px; 
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";          
    }
}
    
.header { 
    grid-area: hd;
    background-color: #f6f2ef;    
}

.footer { 
    grid-area: ft;
    background-color: #f6f2ef;
    text-align: center;
}

.section { 
    grid-area: sd;
    background-color: #f6f2ef;    
    border-right: 1px solid #dee2e6;
    padding-left: 2.5em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.avatar-section {
    display: flex;
    justify-content: center;
}

.section-bio {
    color: gray;
}

.article { 
    grid-area: main;
    background-color: #f6f2ef;
}

.ft-ul {
    text-decoration: underline;
}